ul {
    list-style-type: none;
    margin: auto;
    padding: 10px;
    overflow: hidden;
    background-color: rgb(22, 154, 161);
    border-radius: 10px;
  }
  
  li {
    float: left;
    display: inline;
    padding: 3px 7px;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  li a:hover:not(.active) {
    background-color: white;
  }
  
  .active {
    background-color: rgb(255, 255, 255);
  }

contact {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(22, 154, 161);
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}